<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="icon" href="/images/icon.jpg" type="image/x-icon" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Edit URL - TinyApp</title>
</head>
  
<body>
  <%- include('partials/_header') %>
  <div class="container-fluid">
    <div class="row justify-content-md-center mt-3">
      <div class="card text-center col-md-11 border-success">
        <div class="card-header">
          <h4 class="card-title">Long ULR  ⤵️ </h4>
          <h5 class="text-success"><%= longURL %></h5> 
        </div>
        <div class="card-body">
          <p class="card-text">
            <h1>Short URL: <a target="_blank" href="/u/<%= shortURL %>"><%= shortURL %></a></h1>
          </p>
        </div>
      </div>
    </div>
    <!-- ----------- -->
    <div class="row mt-2">
      <div class="col-sm-6">
        <div class="card text-center border-warning h-100">
          <div class="card-header bg-warning">
            <h3>Edit</h2>
          </div>
          <div class="card-body bg-light text-black border border-warning">
            <p class="card-text">
              <form class="form-inline justify-content-center" action="/urls/<%= shortURL %>?_method=PUT" method="POST">
                <label for="longURL">New URL:</label>
                <input class="form-control" type="url" pattern="https?://.+" name="longURL" id="longURL" placeholder="<%= longURL %>" style="width: 300px; margin: 1em" required/>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-center border border-info h-100">
          <div class="card-header bg-info text-white">
            <h3>ٰVisit Report</h2>
          </div>
          <div class="card-body bg-light text-center border border-info">
            <p class="card-text">
              <h4>
                <span class="text-danger"><%= shortURL %></span>
                <span>&nbsp; has been visited &nbsp;</span>
                <span class="text-success"><%= totalVisitNum %></span>
                <% if (totalVisitNum === 1 || totalVisitNum === 0) { %>
                  <span>&nbsp; time.</span>
                <% } else { %>
                  <span>&nbsp; times.</span>
                <% } %>
              </h4>
              <% if (totalVisitNum) { %>
                <h5>
                  <span> It has been visited by &nbsp;</span>
                  <span class="text-success"><%= uniqueVisitNum %></span>
                  <% if (uniqueVisitNum === 1) { %>
                    <span>&nbsp; user.</span>
                  <% } else { %>
                    <span>&nbsp; different users.</span>
                  <% } %>
                </h5>
              <% } else { %>
                <h5>-</h5>
              <% } %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- ----------- -->
    <div class="row justify-content-md-center mt-2">
      <div class="card text-center col-md-11 border-success"> 
        <div class="card-header  bg-light">
          <h3>Short URL Visit History</h2>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Visitor ID</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            <% for(let key in visits) { %>
              <tr>
                <td><%= visits[key].visitorID %></td>
                <td><%= visits[key].date %></td>
                <td><%= visits[key].time %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <P>
      <a href="#">&nbsp;&nbsp;&nbsp;Back to Top</a>
    </P>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>